<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!-- 여러가지 기본 옵션을 지정합니다. -->
    <settings>
          <!-- 오라클 필드 속성이 READ_COUNT 처럼 언더 스코어가 있을 때 VO 의 readCount 처럼 카멜 케이스로 변환 되게 합니다. -->
          <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
          <typeAlias alias="boardVO" type="com.spring.qboard.vo.BoardVO"/>
          <typeAlias alias="gradeVO" type="com.spring.qboard.vo.GradeVO"/>
          <typeAlias alias="memberVO" type="com.spring.qboard.vo.MemberVO"/>
          <typeAlias alias="quizVO" type="com.spring.qboard.vo.QuizVO"/>
          <typeAlias alias="replyVO" type="com.spring.qboard.vo.ReplyVO"/>
    </typeAliases>

</configuration>